---
---

<html>

<body>
    <h1>GNAT Releases</h1>
    <script type="module" src="https://unpkg.com/esp-web-tools@9.0.4/dist/web/install-button.js?module"></script>

    <ul>
        {% for release in site.releases %}
        <h3>{{ release.name }}</h3>

        {% for platform in release.platforms %}
        <div style="height:50px;">
            <b>{{ platform }}</b>
            <esp-web-install-button
                manifest="assets/firmwares/{{release.version}}/gnat_{{platform}}_{{release.version}}.json">
            </esp-web-install-button>
        </div>
        {% endfor %}
        {% endfor %}
    </ul>

</body>

</html>